@import "../../variables.scss";

nav.header-menu {
    background-color: hsla(0, 0%, 100%, 0.05);
    backdrop-filter: blur(40px);
    height: 96px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px $spacing-4xl;
    justify-content: flex-end;

    .btn-close {
        display: none;
    }

    .nav-menu {
        height: 100%;
        display: flex;
        column-gap: $spacing-3xl;
        list-style: none;
        padding-left: 0;

        li {
            column-gap: $spacing-xs;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;

            span.nav-num {
                font-size: $desktop-navigation;
                font-weight: bold;
            }

            &.active,
            &:hover {
                border-bottom: solid 3px;
                border-color: $color-white;
            }

            &:not(.active) {
                border-color: hsla(0, 0%, 100%, 0.5);
            }
        }

        @media only screen and (max-width: $mobile-screen-max-width-medium) {
            column-gap: $spacing-xl;
        }
    }

    @media only screen and (max-width: $tablet-screen-max-width) {
        width: 100%;
        padding: 0px $spacing-2xl;

        .nav-menu {
            li {
                &:nth-child(1).active {
                    .nav-num {
                        display: none;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobile-screen-max-width-medium) {
        padding: 0px $spacing-medium;
    }

    @media only screen and (max-width: $mobile-screen-max-width) {
        .fade {
            transition-property: height, visibility;
            transition-duration: 4s;
        }

        display: flex;
        &.mobile-flyout {
            &:not(.show) {
                display: none;
            }
            flex-direction: column;
            background-color: rgba(11, 13, 23, 0.15);
            backdrop-filter: blur(40px);
            height: 100%;
            position: fixed;
            right: 0;
            align-items: normal;
            width: 67%;
            padding: 0;
            row-gap: $spacing-xl;
            padding-left: $spacing-xl;

            .nav-menu {
                display: block;
                width: 100%;

                li {
                    height: auto;
                    margin-bottom: $spacing-xl;

                    &.active,
                    &:hover {
                        border-bottom: unset;
                        border-right: solid 3px;
                    }

                    &:not(.active) {
                        border-color: rgba(255, 255, 255, 0.5);
                    }

                    &:nth-child(1).active {
                        .nav-num {
                            display: block;
                        }
                    }
                }
            }

            .nav-menu-mobile {
                display: flex;
                margin-left: auto;
            }

            .btn-close {
                display: block;
                cursor: pointer;
                width: 100%;
                height: 24px;
                padding: $spacing-xl 0px;
                background-image: none;

                button {
                    position: absolute;
                    right: $spacing-large;
                }
            }
        }
    }
}

.nav-mobile-hamburger {
    display: none;
    align-items: center;
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
    button {
        position: absolute;
        right: $spacing-large;
    }

    @media only screen and (max-width: $mobile-screen-max-width) {
        display: flex;
    }
}

button.btn-svg {
    position: absolute;
}
