@import "../../variables.scss";

nav.tab-menu {
    display: flex;
    width: fit-content;
    height: fit-content;

    .nav-menu {
        height: 32px;
        display: flex;
        column-gap: $spacing-2xl;
        list-style: none;
        padding-left: 0;

        li {
            column-gap: $spacing-xs;
            height: 100%;
            display: flex;
            align-items: flex-start;
            cursor: pointer;

            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;

            span.nav-num {
                font-size: $desktop-navigation;
                font-weight: bold;
            }

            &.active,
            &:hover {
                border-bottom: solid 3px;
                border-color: $color-white;
            }

            &:not(.active) {
                border-color: hsla(0, 0%, 100%, 0.5);
            }
        }

        @media only screen and (max-width: $mobile-screen-max-width-medium) {
            column-gap: $spacing-medium;
        }
    }

    @media only screen and (max-width: $tablet-screen-max-width) {
        width: 100%;
        padding-left: $spacing-2xl;
        padding-right: $spacing-2xl;
    }

    @media only screen and (max-width: $mobile-screen-max-width-medium) {
        padding-left: $spacing-medium;
        padding-right: $spacing-medium;
    }

    @media only screen and (max-width: $mobile-screen-max-width) {
    }
}
