@import "../variables.scss";

.color-pure-white {
    color: $color-white;
}

.color-light-blue {
    color: $color-light-blue;
}

.color-very-dark-navy {
    color: $color-very-dark-navy;
}

.bg-pure-white {
    background-color: $color-white;
}

.bg-light-blue {
    background-color: $color-light-blue;
}

.bg-very-dark-navy {
    background-color: $color-very-dark-navy;
}
