@import "../variables.scss";

.gap-3xs {
    gap: $spacing-3xs;
}

.gap-2xs {
    gap: $spacing-2xs;
}

.gap-xs {
    gap: $spacing-xs;
}

.gap-small {
    gap: $spacing-small;
}

.gap-medium {
    gap: $spacing-medium;
}

.gap-large {
    gap: $spacing-large;
}

.gap-xl {
    gap: $spacing-xl;
}

.gap-2xl {
    gap: $spacing-2xl;
}

.gap-3xl {
    gap: $spacing-3xl;
}

.gap-4xl {
    gap: $spacing-4xl;
}

.gap-5xl {
    gap: $spacing-5xl;
}

.gap-6xl {
    gap: $spacing-6xl;
}

.gap-7xl {
    gap: $spacing-7xl;
}
