@import "../../variables.scss";

.nav-logo {
    align-items: center;
    display: flex;
    column-gap: $spacing-4xl;
    width: 100%;
    padding-left: $spacing-4xl;

    .logo {
        display: flex;
        &:not(.home) {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: $tablet-screen-max-width) {
        width: 160px;
        padding-left: $spacing-2xl;

        span {
            display: none;
        }
    }
}
