@import "../../variables.scss";

.nav-logo {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px $spacing-4xl;
    gap: $spacing-4xl;

    .logo {
        display: flex;
        &:not(.home) {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: $tablet-screen-max-width) {
        width: 160px;
        padding-left: $spacing-2xl;

        span {
            display: none;
        }
    }
}
