@import "./variables.scss";
@import "./css/_layout.scss";
@import "./css/_colors.scss";
@import "./css/_spacing.scss";
@import "./css/_fontsize.scss";

.inside-auto {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

html,
body {
    .d-hide {
        display: none;
    }

    .bg-space-home {
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (max-width: $tablet-screen-max-width) {
            background-image: url("./assets/home/background-home-tablet.jpg");
        }

        @media only screen and (max-width: $mobile-screen-max-width) {
            background-image: url("./assets/home/background-home-mobile.jpg");
        }
    }

    .bg-space-destination {
        background-image: url("./assets/destination/background-destination-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (max-width: $tablet-screen-max-width) {
            background-image: url("./assets/destination/background-destination-tablet.jpg");
        }

        @media only screen and (max-width: $mobile-screen-max-width) {
            background-image: url("./assets/destination/background-destination-mobile.jpg");
        }
    }

    .bg-space-crew {
        background-image: url("./assets/crew/background-crew-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (max-width: $tablet-screen-max-width) {
            background-image: url("./assets/crew/background-crew-tablet.jpg");
        }

        @media only screen and (max-width: $mobile-screen-max-width) {
            background-image: url("./assets/crew/background-crew-mobile.jpg");
        }
    }

    .bg-space-technology {
        background-image: url("./assets/technology/background-technology-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (max-width: $tablet-screen-max-width) {
            background-image: url("./assets/technology/background-technology-tablet.jpg");
        }

        @media only screen and (max-width: $mobile-screen-max-width) {
            background-image: url("./assets/technology/background-technology-mobile.jpg");
        }
    }
}

body {
    min-height: 100%;
}
