/* COLORS */

$color-white: #ffffff;
$colorlight-blue: #d0d6f9;
$color-very-dark-navy: #0b0d17;

/* SPACING */
$spacing-3xs: 2px;
$spacing-2xs: 4px;
$spacing-xs: 8px;
$spacing-small: 12px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xl: 32px;
$spacing-2xl: 40px;
$spacing-3xl: 48px;
$spacing-4xl: 64px;
$spacing-5xl: 80px;
$spacing-6xl: 96px;
$spacing-7xl: 128px;

/* FONT SIZE */
// Desktop
$desktop-heading-xl: 144px;
$desktop-heading-large: 96px;
$desktop-heading-medium: 56px;
$desktop-heading-small: 32;
$desktop-heading-xs: 28;
$desktop-sub-heading-large: 28px;
$desktop-sub-heading-small: 28px;
$desktop-navigation: 16px;
$desktop-body: 18px;
// Tablet
$tablet-heading-large: 80px;
$tablet-heading-medium: 40x;
$tablet-heading-small: 24px;
$tablet-heading-xs: 20px;
$tablet-body: 80px;
// Mobile
$mobile-heading-xl: 80px;
$mobile-heading-large: 56px;
$mobile-heading-medium: 24px;
$mobile-heading-small: 18px;
$mobile-heading-xs: 16px;
$mobile-navigation: 14px;
$mobile-body: 15px;
